body {
	background-color: #FFFFFF;
}

.main {
	position: relative;
	width: 100%;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

.text {
	width: 80%;
}

.button {
	width: 15%;
}

.input {
	width: 40%;
	font-family: verdana;
	font-size: 14px;
	text-align: left;
	padding-bottom: 20px;
}

.message {
	font-family: verdana;
	font-size: 14px;
	text-align: left;
	width: 40%;
	padding-bottom: 20px;
}

.title {
	font-family: verdana;
	font-size: 48px;
	padding-top: 40px;
	padding-bottom: 40px;
}

.labelText {
	padding-top: 10px;
	margin-top: 0px;
	font-family: verdana;
	font-size: 12px;
	color: #0000ff;
}

.infoText {
	color: #ffffff;
}

table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #dddddd;
}

.divPanel {
	left: 50%;
	margin-left: -400px; /* A metade de sua largura. */
	position: relative;
	width: 2000px; /* O valor que você desejar. */
}